<div class="Featured-Products">
  <header class="section-header text-center">
    <h2 class="text-dark" id="product">Featured Products</h2>
    <p class="text-dark">Our all time best selling products</p>
  </header>
  <div class="container py-2">
    <div class="row g-3">
      @for (item of FeaturedProducts; track $index) { @if (item.productId <= 6)
      {
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="product-card">
          <a routerLink="/app/shop" class="transcend">
            <span class="badge text-bg-primary">{{ item.discount }}</span>
            <div class="card-body text-center">
              <img
                src="{{ item.imageUrl }}"
                class="img-fluid rounded product-image"
                alt="{{ item.title }}"
              />
            </div>
          </a>
        </div>
        <p class="link text-center mt-3">
          <a routerLink="/app/shop" class="transcend">{{ item.title }}</a>
        </p>
        <p class="price text-center">
          <a class="transcend"
            ><span>{{ item.oldPriceStr }}</span
            >{{ item.priceStr }}</a
          >
        </p>
      </div>
      } }
    </div>
  </div>
</div>
