/* -------------------------------------------------------------
#MainScreenImage
------------------------------------------------------------- */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #1e293b;
}

.hero {
  position: relative;
  text-align: center;
  padding: 0px 20px 0;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: url(../../../../../assets/images/threebg.png) no-repeat center
    center;
  background-color: #328ac0eb;
  /* Semi-transparent blue */
  background-blend-mode: multiply;
  background-size: cover;
}

.hero .container {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
  margin-bottom: 80px;
  color: white;
}

.hero h1 {
  font-size: 3.25rem;
  font-weight: 800;
  z-index: 4;
  margin-bottom: 20px;
  background: white;
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero p {
  font-size: 1.2rem;
  z-index: 5;
  max-width: 600px;
  margin: 0 auto;
  color: #e0f2fe;
}

.wave-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

// #blob1 {
//     position: absolute;
//     width: 20vw;
//     height: 20vw;
//     top: 10vw;
//     left: 5vw;
//     border-radius: 50%;
//     opacity: 0.6;
//     mix-blend-mode: screen;
//     z-index: 4;
//     animation: float 12s ease-in-out infinite;
//     background: radial-gradient(circle, #60a5fa, #8a1e1e);
// }

// #blob2 {
//     position: absolute;
//     width: 20vw;
//     height: 20vw;
//     top: 20vw;
//     right: 5vw;
//     border-radius: 50%;
//     opacity: 0.6;
//     mix-blend-mode: screen;
//     z-index: 4;
//     animation: float 10s ease-in-out infinite;
//     background: radial-gradient(circle, #09e823, #e90d7e);
// }

/* Wavy animated SVG */
.wave-bottom path {
  animation: waveMotion 4s ease-in-out infinite;
  z-index: 5;
}

/* Keyframes for wave motion */
@keyframes waveMotion {
  0% {
    d: path(
      "M0,160L60,144C120,128,240,96,360,80C480,64,600,64,720,101.3C840,139,960,213,1080,224C1200,235,1320,181,1380,154.7L1440,128L1440,320L0,320Z"
    );
  }

  50% {
    d: path(
      "M0,180L60,160C120,140,240,110,360,100C480,90,600,110,720,130C840,150,960,190,1080,200C1200,210,1320,180,1380,160L1440,140L1440,320L0,320Z"
    );
  }

  100% {
    d: path(
      "M0,160L60,144C120,128,240,96,360,80C480,64,600,64,720,101.3C840,139,960,213,1080,224C1200,235,1320,181,1380,154.7L1440,128L1440,320L0,320Z"
    );
  }
}

@media (max-width: 768px) {
  .wave-bottom {
    width: auto;
    height: 50%;
  }
}

.container span {
  left: -50px;
}

/* -------------------------------------------------------------
    #SecondScreen Images for Small Screens
    ------------------------------------------------------------- */

.sameSize {
  display: inline;
}

@media only screen and (max-width: 760px) {
  .sameSize {
    width: 100%;
    height: 100%;
    margin: 10px 10px 0px 0px;
  }

  .hero {
    padding: 30px 20px 0;
  }

  .hero h1 {
    font-size: 2.25rem;
  }
}

/* -------------------------------------------------------------
    #SecondScreen Images for Small Screens
    ------------------------------------------------------------- */

@media only screen and (min-width: 761px) {
  .sameSize {
    width: 100%;
    height: 100%;
    margin: 10px 10px 0px 0px;
  }

  .hero {
    padding: -20px 20px 80px 0px;
  }

  .hero h1 {
    font-size: 3.25rem;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
