<div class="hero">
  <!-- Decorative SVG Wave -->
  <svg
    class="wave-bottom"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#328ac0bf"
      fill-opacity="1"
      d="M0,160L60,144C120,128,240,96,360,80C480,64,600,64,720,101.3C840,139,960,213,1080,224C1200,235,1320,181,1380,154.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
    ></path>
  </svg>
  <div class="container">
    <h1 class="heading">Enhance Your Experience with "Softools"</h1>
    <p>
      Revolutionizing the ordinary into extraordinary Our digital products
      inspire, empower, and transform at every touchpoint.
    </p>
  </div>
</div>

<div class="premium">
  <div class="container py-4">
    <div class="row g-3">
      <div class="col-4">
        <img
          src="assets/images/courses.webp"
          class="img-fluid rounded sameSize"
          alt="Image 2"
        />
      </div>
      <div class="col-4">
        <img
          src="assets/images/sitting.jpg"
          class="img-fluid rounded sameSize"
          alt="Image 3"
        />
      </div>
      <div class="col-4">
        <img
          src="assets/images/premium.jfif"
          class="img-fluid rounded sameSize"
          alt="Image 4"
        />
      </div>
    </div>
  </div>
</div>
<app-featured-products />
<app-latest-products />

<!-- End Services Section -->

<app-contact-us id="contact"></app-contact-us>
