/* You can add global styles to this file, and also import other style files */
.container,
.container-fluid {
  scroll-behavior: smooth;
}
body {
  height: 100%;
}

app-root,
router-outlet,
app-navbar {
  display: block;
  height: 100%;
}
